{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  <!-- App Header -->
  <div class="appHeader bg-dark text-light">
    <div class="left">
      <a href="javascript:;" class="headerButton goBack">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </a>
    </div>
    <div class="pageTitle">Your Orders</div>
    <div class="right">Help</div>
  </div>
  <div id="appCapsule">
    
    <div class="section mt-2">
      {% for obj in obj_list %}
            <div class="row">
              <div class="col-6">
                <div class="text">
                  <h3 class="title">{{obj.wholeseller}}</h3>
                </div>
              </div>
              <div class="col-3 " >
                <a href="/burak/detail/{{obj.pk}}/" class="btn btn-primary  ">Detail</a>
              </div>
              <div class="col-3">
                {% if obj.is_complete %}
                  
                
                <a href="#" class="btn  bg-success" style="">
                Complete</a>
                {% else %}
                <a href="/burak/{{pk}}/cmplt" class="btn btn-primary" style="">
                    Complete</a>
                {% endif %}
            </div>
          {% endfor %}

     </div>
  </div>
  </div>
  
  
  {% include 'bottom.html' %}
</body>

{% endblock %}
