    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{obj.thumbnail.url}}" class="card-img-top"> 
            <div class="card-body">
                <div class="btn-group">
                  <h1>{{obj.title}}</h1>
                  <button type="button" class="btn btn-sm btn-primary" >View</button>
                  <button type="button" class="btn btn-sm btn-primary">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     