{% extends 'base.html' %}
{% load static %}
{% block content %}


<body class="bg-white">

    <!-- App Header -->
    <div class="appHeader no-border transparent position-absolute">
        <div class="left">
            <a href="javascript:;" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">Support</div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="error-page">
            <img src="{% static 'assets/img/sample/photo/vector6.png' %}" alt="alt" class="imaged square w200">
            <h1 class="title" style="font-family: Noto Nastaliq Urdu Draft; font-size: 30px;">Registeration is invite only</h1>
            <div class="text mb-5">
                <a href="tel:03001234567" class="headerButton">
                    <ion-icon name="call-outline"></ion-icon>

                0300 1234567
                </a>
            </div>

            <div class="fixed-footer">
                <div class="row">
                    <div class="col-12">
                        <a href="/" class="btn btn-primary btn-lg btn-block">Go Back</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- * App Capsule -->



</body>

{% endblock %}