{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>

	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-up">
						<h1>Create an account</h1>
						<p class="creating">Having hands on experience in creating innovative designs,I do offer design 
							solutions which harness.</p>
						
						
							<div class="sign-up2">
								<ul>
									<li><a href="{% url 'manufacturer_reg' %}">Register As a Manufacture</a></li>
									<li><a href="{% url 'shop_reg' %}">Register As a Shop</a></li>
									<li><a href="{% url 'service_reg' %}">Register As a Service</a></li>
								</ul>
					
							</div>
							
						</div>
					</div>
				</div>
			</div>
	</section>
</body>
{% endblock body %}