{% load static %}
<!-- App Bottom Menu -->
<div class="appBottomMenu">
    <a href="/" class="item">
        <div class="col">
            <ion-icon name="home-outline"></ion-icon>
        </div>
    </a>
    <a href="/search-page/" class="item">
        <div class="col">
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </a>
    <a href="/ajax/cart" class="item">
        <div class="col">
            <ion-icon name="cart-outline"></ion-icon>
            <span class="badge badge-danger">
                {% if no_obj %}
                {{no_obj}}
                {% else %}
                0
                {% endif %}</span>
        </div>
    </a>
    <a href="javascript:;" class="item" data-toggle="modal" data-target="#sidebarPanel">
        <div class="col">
            <ion-icon name="person-outline"></ion-icon>
        </div>
    </a>

</div>
<div class="modal fade action-sheet" id="actionSheetForm" tabindex="-1" role="dialog">
    <div class="modal-dialog  " role="document">
        <div class="modal-content" style="height: 200px;">
            <div class="modal-header text-center">
                <h2>Cart</h2>
            </div>
            <div class="modal-body">
                <div class="action-sheet-content j-s">
                    <div id="items" style="">

                    </div>
                    <div>
                        <div class="row" style="margin-top: 15px; ">
                            <div class="col-6 text-center">
                                <button type="button" id="check" class="btn btn-primary rounded"><h2 style="color: blanchedalmond; font-family: Noto Nastaliq Urdu Draft; font-size: 23px;">بس آرڈر کریں</h2></button>
                            </div>
                            <div class="col-6 text-center">
                                <button id="continue" type="button" class="btn btn-primary rounded "><h2 style="color: blanchedalmond; font-family: Noto Nastaliq Urdu Draft; font-size: 23px;">اور خرید یں</h2></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>























<!-- * App Bottom Menu -->







<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">

                <!-- profile box -->
                <div class="profileBox">
                    <div class="image-wrapper">
                        <img src="{% static 'assets/img/logo5.png' %}" alt="image"
                            class="imaged rounded">
                    </div>
                    <div class="in">
                        <strong>{{request.user}}</strong>
                        <div class="text-muted">
                            <ion-icon name="location"></ion-icon>
                            XYZ
                        </div>
                    </div>
                    <a href="javascript:;" class="close-sidebar-button" data-dismiss="modal">
                        <ion-icon name="close"></ion-icon>
                    </a>
                </div>
                <!-- * profile box -->

                <ul class="listview flush transparent no-line image-listview mt-2">
                    <li>
                        <a href="/shop" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="home-outline"></ion-icon>
                            </div>
                            <div class="in text-large">
                                <h2 style="font-family: Noto Nastaliq Urdu Draft; font-size: 27px;">
                                آپ کی دوکان
                            </h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/ajax/orders" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="cube-outline"></ion-icon>
                            </div>
                            <div class="in text-large">
                                <h2 style="font-family: Noto Nastaliq Urdu Draft; font-size: 27px;">
                                آپ کا آرڈر
                            </h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/khata" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="book-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <h2 style="font-family: Noto Nastaliq Urdu Draft; font-size: 27px;">
                                    کھاتہ
                                </h2>                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/accounts/logout" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="log-out"></ion-icon>
                            </div>
                            <div class="in">
                                <div>Logout</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="moon-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>Dark Mode</div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input dark-mode-switch"
                                        id="darkmodesidebar">
                                    <label class="custom-control-label" for="darkmodesidebar"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- <div class="listview-title mt-2 mb-1">
                    <span>Friends</span>
                </div>
                <ul class="listview image-listview flush transparent no-line">

                </ul> -->

            </div>

            <!-- sidebar buttons -->
            <!-- <div class="sidebar-buttons">
                <a href="javascript:;" class="button">
                    <ion-icon name="person-outline"></ion-icon>
                </a>
                <a href="javascript:;" class="button">
                    <ion-icon name="archive-outline"></ion-icon>
                </a>
                <a href="javascript:;" class="button">
                    <ion-icon name="settings-outline"></ion-icon>
                </a>
                <a href="/logout" class="button">
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </div> -->
            <!-- * sidebar buttons -->
        </div>
    </div>
</div>
<!-- * App Sidebar -->



<!-- * Search -->