{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    
    <div class="appHeader bg-dark ">
                <div class="left">
                <a href="javascript:;" class="headerButton goBack" style="color: white;">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
                </div>
ٍ                <div>
                    <h1 class="text-white">Products</h1>
                </div>                
                <div class="right">
                    <a href="javascript:;" class="headerButton toggle-searchbox" style="color: white;">
                        <ion-icon name="search-outline"></ion-icon>
                    </a>
                </div>
    </div>

    <!-- Search Component -->
    <div id="search" class="appHeader">
        <form class="search-form">
            <div class="form-group searchbox">
                <input type="text" class="form-control" placeholder="Search...">
                <i class="input-icon">
                    <ion-icon name="search-outline"></ion-icon>
                </i>
                <a href="javascript:;" class="ml-1 close toggle-searchbox">
                    <ion-icon name="close-circle"></ion-icon>
                </a>
            </div>
        </form>
    </div>
    <!-- * Search Component -->


    <div id="appCapsule">


        <div class="section full mt-2">
                <div class="text-center">
                    <h3>Products</h3>
                </div>
            <div class="section full mt-2 mb-2">
                <div class="wide-block pt-2 pb-2">
                    <div class="mb-1">
                        {% for obj in obj_list %}
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-4">
                                    {% if obj.thumbnail %}
                                        <img src="{{obj.thumbnail.url}}" alt="image" class="imaged w120">
                                    {% endif %}
                                </div>
                                <div class="col-4">
                                    <h2>{{obj.title}}</h2>
                                    <div class="">
                                        <h4>{{obj.amount}}</h4>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <a href="edit/{{obj.pk}}" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="delete/{{obj.pk}}" class="btn btn-sm btn-danger" style="margin-left: 10px;">Delete</a>

                                    <h3 class="jani">{{obj.price}} Rs</h3>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

                
        </div>
    </div>
    
    
    
    
    
    


    {% include 'bottom.html' %}


</body>

{% endblock %}
