{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>


    <div class="appHeader bg-dark">
                <div class="left">
                    <a href="#" class="headerButton" style="color: white;">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </a>
                </div>
ٍ                <div>
                    <h2 class="text-white">براق</h2>
                </div>                
                <div class="right">
                    <a href="javascript:;" class="headerButton toggle-searchbox" style="color: white;">
                        <ion-icon name="search-outline"></ion-icon>
                    </a>
                </div>
    </div>

    <!-- Search Component -->
    <div id="search" class="appHeader">
        <form class="search-form"method='GET' action='{% url "search:query" %}'>{% csrf_token %}
            <div class="form-group searchbox">
                <input type="text" class="form-control" placeholder="Search..." required name='q' aria-label="Search">
                <button class="btn" type="submit">
                <i class="input-icon">
                    <ion-icon name="search-outline"></ion-icon>
                </i>
                </button>
                <a href="javascript:;" class="ml-1 close toggle-searchbox">
                    <ion-icon name="close-circle"></ion-icon>
                </a>
            </div>
        </form>
    </div>
    <!-- * Search Component -->


    <div id="appCapsule">



        <div class="section full mb-3">
                <div class="section-title">Categories</div>

                <div class="carousel-multiple owl-carousel owl-theme">
                    {% for cat in cat_list %}
                        <div class="item">
                            <a href = "{{cat.get_absolute_url}}">
                                <div class="card bg-dark text-white text-center">
                                    <img src="{{cat.thumbnail.url}}" class="card-img overlay-img" alt="image">
                                    <div class="card-img-overlay">
                                        <h1 class="card-title">{{cat.category}}</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    
                </div>
        </div>


        <div class="section full mb-3">
            <div class="section-title">Categories</div>
                <div class="row" style="padding-top: 20px;">
                {% for obj in obj_list %}
                        <div class="col-6">
                        <div class="card product-card">
                            <div class="card-body">
                                <a href = "#">
                                <img src="{{obj.thumbnail.url}}" class="image " alt="product image">
                                <div class="" style="text-align: center;">
                                    <h1>{{obj.title}}</h1>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row" style="padding-top: 20px;">

                    {% endif %}
                {% endfor %}
                </div>
        </div>
    
    </div>


    {% include 'bottom.html' %}


</body>


















{% endblock %}
