{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<body>
    
    <div class="appHeader bg-dark ">
                <div class="left">
                <a href="javascript:;" class="headerButton goBack" style="color: white;">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
                </div>
ٍ              <div>
                    <h1 class="text-white">Khata</h1>
                </div>                
                <div class="right">
                    <a href="javascript:;" class="headerButton toggle-searchbox" style="color: white;">
                        <ion-icon name="search-outline"></ion-icon>
                    </a>
                </div>
    </div>

    <!-- Search Component -->
    <div id="search" class="appHeader">
        <form class="search-form">
            <div class="form-group searchbox">
                <input type="text" class="form-control" placeholder="Search...">
                <i class="input-icon">
                    <ion-icon name="search-outline"></ion-icon>
                </i>
                <a href="javascript:;" class="ml-1 close toggle-searchbox">
                    <ion-icon name="close-circle"></ion-icon>
                </a>
            </div>
        </form>
    </div>
    <!-- * Search Component -->



    <div id="appCapsule">
        <div class="section mt-2">
            <div class="row">
                <div class="col-6">
                    <div class="card text-white bg-primary mb-2">
                        <div class="card-header text-large text-centre" style="font-family: Noto Nastaliq Urdu Draft; font-size: 30px;">ٹوٹل پیسے</div>
                        <div class="card-body">
                            {% if total < 0 %}
                            <h2 class="" style="color: red;">{{total}}</h2>
                            {% else %}
                            <h2 class="text-white">{{total}}</h2>
                            {% endif %}                            
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <a href="add/" class="btn btn-block btn-lg btn-primary text-white text-larger" style="font-family: Noto Nastaliq Urdu Draft; font-size: 20px;" >خریدار داخل کریں</a>

                </div>
            </div>
        </div>
        <div class="section mb-2">
            <div class="section-title text-large" style="font-family: Noto Nastaliq Urdu Draft; font-size: 25px;">خریدار سرچ کریں</div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class=" btn btn-dark" style="margin-top: 10px; font-family: Noto Nastaliq Urdu Draft; font-size: 20px;" value="سرچ">
                </form>
            
    
        </div>


    <div class="section full mt-1 mb-2">
            <div class="section-title text-large text-primary text-centre" style="font-family: Noto Nastaliq Urdu Draft; font-size: 30px;">خریدار</div>
            <ul class="listview image-listview">
                {% for obj in obj_list %}
                <li>
                    <div class="item">
                        <div class="in">
                            <div>{{forloop.counter}}</div>
                            <div>{{obj.name}}</div>
                            <a href="/khata/{{obj.pk}}" class="btn btn-primary btn-" style="font-family: Noto Nastaliq Urdu Draft; font-size: 20px;">تبدیل کریں</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>        
    </div>

    </div>

    {% include 'bottom.html' %}

    
</body>

{% endblock %}
